.perguntas-bgk {
  padding: 120px 0px;
  background: var(--cor-0);
}
.perguntas-bgk h2 {
  padding-bottom: 60px;
}

.perguntas-bgk h2::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--cor-l1);
  transition: 0.6s;
  display: inline-block;
  margin-right: 20px;
}

.perguntas-bgk h2:hover::before {
  width: 40px;
  background-color: var(--cor-a7);
}

.perguntas dl > div {
  padding: 20px;
  border-radius: 20px;
}

.perguntas dl > div:nth-child(odd) {
  background: var(--cor-1);
}

.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}
.perguntas button::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../../img/perguntas.svg);
  display: inline-block;
}

.perguntas button::after {
  content: "";
  width: 14px;
  height: 6px;
  background: url(../../img/seta-abrir.svg);
  display: inline-block;
  transition: 0.3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
.perguntas dd {
  display: none;
}

.perguntas dd.ativa {
  display: block;
}
.perguntas dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
}

@media (max-width: 1000px) {
  .perguntas-bgk h2 {
    padding: 20px 0;
  }
}

@media (max-width: 800px) {
  .perguntas-bgk h2 {
    padding: 0 0 40 0;
  }
}

@media (max-width: 400px) {
  .perguntas-bgk h2 {
    font-size: 1.5rem;
  }
}
