.suporte-info-bgk {
  background: linear-gradient(var(--cor-a3) 100px, var(--cor-0) 0);
}

.suporte-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
  background: var(--cor-a2);
  border-radius: 28px;
  padding: 70px 40px 40px 40px;
  align-items: center;
}

.suporte-imagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  row-gap: 28px;
}

.suporte-imagens img {
  border-radius: 20px;
  object-fit: cover;
}
.suporte-imagens img:nth-child(1) {
  grid-column: 1/-1;
}

.suporte-imagens img:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.suporte-imagens img:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.suporte-info-texto {
  grid-column: 2/3;
  grid-row: 1/2;
}

.suporte-info-texto h3 {
  padding-bottom: 28px;
}

.suporte-info-texto h3:nth-child(n + 2) {
  padding-top: 28px;
}

.suporte-info-adicionais {
  grid-column: 2/3;
}

.suporte-info-adicionais h4 {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}
.suporte-info-extra1,
.suporte-info-extra3 {
  background-color: var(--cor-a6);
  padding: 14px 10px;
  border-radius: 20px;
}
.suporte-info-extra2,
.suporte-info-extra4 {
  background-color: var(--cor-4);
  padding: 14px 10px;
  border-radius: 20px;
}

.dec-01::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../../img/fone.svg);
  margin-right: 8px;
}

.dec-02::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../../img/treinamento.svg);
  margin-right: 8px;
}

.dec-03::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../../img/instalacao.svg);
  margin-right: 8px;
}

.dec-04::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../../img/atendimento.svg);
  margin-right: 8px;
}

@media (max-width: 1000px) {
  .suporte-info-adicionais {
    margin-top: 40px;
  }
  .suporte-imagens {
    column-gap: 20px;
  }
}

@media (max-width: 800px) {
  .suporte-info {
    column-gap: 40px;
  }
  .suporte-imagens {
    column-gap: 20px;
  }
  .suporte-info-adicionais {
    grid-column: 1/-1;
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .suporte-info-texto h3 {
    font-size: 1rem;
  }
  .suporte-info-texto p {
    font-size: 0.825rem;
  }
  .suporte-imagens {
    grid-row: 2;
    grid-column: 1/-1;
  }
  .suporte-info-texto {
    grid-column: 1/-1;
    padding-bottom: 40px;
  }
}
