.feedback-container {
  padding-bottom: 80px;
  min-height: 100vh;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 20px;
}
.feedback-container h1 {
  padding: 80px 0;
}

.feedback-container h1::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--cor-l1);
  transition: 0.6s;
  display: inline-block;
  margin-right: 20px;
}

.feedback-container h1:hover::before {
  width: 40px;
  background-color: var(--cor-a7);
}

.cartao {
  width: 320px;
}

.image-box {
  background: var(--cor-l2);
  display: flex;
  justify-content: center;
  border-radius: 40px 40px 0 0;
  padding-bottom: 60px;
  padding-top: 20px;
  position: relative;
  margin-bottom: -40px;
}

.image-box img {
  border-radius: 50%;
  object-fit: cover;
}

.info-box {
  background-color: var(--cor-a2);
  padding: 14px;
  border-radius: 0 40px 40px 40px;
  text-align: center;
  z-index: 1000;
  position: relative;
}
.info-box h3 {
  padding-bottom: 18px;
}

.swiper-navbtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}

.swiper-navbtn:hover {
  color: #4070f4;
}

.swiper-navbtn::after,
.swiper-navbtn::before {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination {
  margin-bottom: 40px;
}
.swiper-pagination-bullet {
  background-color: var(--cor-l1);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--cor-a9);
}

@media (max-width: 800px) {
  .info-box {
    padding-bottom: 100px;
    height: 150px;
  }
  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 600px) {
  .feedback-container h1 {
    padding: 40px 0;
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .feedback-container h1 {
    padding: 28px 0;
  }
  .info-box {
    padding-bottom: 80px;
  }
}
